.c-carousel{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0); 
    
 
}

.carrossel{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    width: 100%;;
    
    @media(min-width: 576px){
    img{
        object-fit: cover;
        width: 50%; 
           
    }
    }

    @media(max-width: 576px){
        img{
            width: 100%;
        }
        
    }
}